*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100px;
    background: rgba(26, 26, 26, 0.77);
    position: absolute;
    z-index: 2;
}
#pagina-inicial{
    height: 100vh;
    background-image: url(../assets/bg-sec-1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}